{% extends '@App/Backend/base.html.twig' %}

{% block body %}
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-6 col-9">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Usuarios</h5>
                    </div>
                </div>
                <div class="col-md-6 col-3 text-right">
                    {% if permits["wp"] %}
                        <span  title="Add User" data-toggle="tooltip">
                            <a class="btn btn-icon btn-rounded theme-bg text-white" data-toggle="modal" data-target="#exampleModalLive"><span><i class="feather icon-user-plus"></i></span></a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-sm-12">

                    {{ include('@App/Backend/flash_message.html.twig') }}

                    <div class="card Application-list">

                        {% if permits["wp"] %}
                            {{
                                include(
                                        '@App/Backend/create_modal.html.twig',
                                        {
                                                'title': 'Usuario',
                                                'form': form,
                                                'edit': false,
                                                'formPath': '@App/Backend/User/form.html.twig'
                                        }
                                )
                            }}
                        {% endif %}

                        {% if permits["rp"] %}
                            {{ include('@App/Backend/User/list.html.twig', { 'list': list }) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.dataTable').DataTable({
                "stateSave": true
            });

            $('table').on('click', '#btn-delete', function () {
                $('.sweet-multiple').on('click', function () {
                    swal({
                        title: '¿Quieres desactivar al usuario "' + $(this).attr('data-name') + '" ?',
                        icon: "warning",
                        buttons: ["Cancel", true],
                        dangerMode: true,
                    }).then((willDelete) => {
                        if (willDelete) {
                            swal({
                                text: 'El usuario "' + $(this).attr('data-name') + '" se está inactivando',
                                icon: "info",
                                buttons: false,
                                content: {
                                    element: "span",
                                    attributes: {
                                        className: "spinner-border spinner-border-sm"
                                    }
                                }
                            });
                            window.location = $(this).attr('data-href');
                        }
                    });
                });
            });

            $(".selectpicker").select2();

            var rol = $('#user_userRole').val();

            if (rol == 5) {
                $('.select-organization').show();
            } else if (rol == 4) {
                $('.select-organization').hide();
            } else {
                $('.select-organization').hide();
            }

            $('#user_userRole').change(function () {
                var rol = $('#user_userRole').val();

                if (rol == 5) {
                    $('.select-organization').show();
                    $('#user_organization').addClass("required");
                } else if (rol == 4) {
                    $('.select-organization').hide();
                    $('#user_organization').removeClass("required");
                }
            });

            $('#userForm').validate({
                submitHandler: function (form) {
                    var saveButton = document.getElementById("button-save");
                    var validateForm = document.getElementById("userForm");
                    saveButton.setAttribute("disabled", true);
                    saveButton.innerHTML = "<span class='spinner-border spinner-border-sm' role='status'></span> Loading...";
                    var elements = validateForm.elements;
                    for (var i = 0, len = elements.length; i < len; ++i) {
                        elements[i].readOnly = true;
                    }
                    document.getElementById("userForm").submit();
                }
            });

        });
    </script>
{% endblock %}
